body,
html {
  height: 100%;
  margin-top: 15px;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-image: url('../images/pineapple.avif');
  background-position: center;
  background-size: cover;
}

.predict {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  height: 100vh;
}

#predict,
#dropdown {
  display: flex;
  justify-content: center;
  padding: 15px;
}

input {
  text-align: center;
}
